<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Student</title>
</head>
<body>
        <form action="/student/add" method="post">
            <table>
            <tr>First Name</tr>
            <tr><input type="text" name="first_name" placeholder="First Name"></tr>
            <tr>Last Name</tr>
            <tr><input type="text" name="last_name" placeholder="Last Name"></tr>
            <tr>E-mail</tr>
            <tr><input type="email" name="email" id="" placeholder="E-mail"></tr>
            <tr><input type="submit" value="Submit"></tr>
            </table>
        </form>
       
</body>
</html>