<!DOCTYPE html>
<html lang="en">
    <%-include partial/head%>
  <body>

    <a href="/teacher">Show All Teachers</a>
    <br><br>
    <form class="" action="/add" method="POST">
      <p>First Name
        <br>
        <input type="text" name="first_name" value="" placeholder="first_name">
      </p>
      <p>
        Last Name
        <br>
        <input type="text" name="last_name" value="" placeholder="last_name">
      </p>
      <p>
        Email
        <br>
        <input type="email" name="email" value="" placeholder="email">
      </p>
      <p>
        <select  name="SubjectId">
          <% data_subjects.forEach(row => { %>
          <option value="<%=row.id%>"><%=row.subject_name%></option>
          <% }) %>
        </select>
      </p>
      <input type="submit" value="SAVE">
    </form>
  </body>
</html>
