<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Subject</title>
</head>
<body>
        <h1>Subjects List</h1>
        <a href="/">Back to Home</a>
        <table border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Subject Name</th>
                </tr>
            </thead>
            <tbody>
                    <% data.forEach (row =>{%>
                <tr>
             
                    <td><%= row.id%></td>
                    <td><%= row.subject_name%></td>
                  
                </tr>
                <% })%>
            </tbody>
        </table>
</body>
</html>